In [1]:
import pandas as pd
import numpy as np

In [2]:
f = open("new_6.csv", "r")
data_new = f.read()

In [3]:
header_string = data_new.split('\n')[0]

In [4]:
header = header_string.split(';')

In [5]:
info_string_list = data_new.split('\n')[1:]

In [6]:
info_list = []

In [7]:
for each_string in info_string_list:
    info_list.append(each_string.split(';'))

In [8]:
df = pd.DataFrame(info_list)
df.columns = header

In [9]:
df

,Bus Name,Area Number,Zone Number,Volt (PU),Volt (KV),Angle (Deg),Gen MW,Gen MVAR,Load MW,Load MVAR,Shunt MW,Shunt MVAR,To Bus Name,MW,MVAR,Transformer Ratio,Transformer Angle (Deg),Percent,Rating
0,101 NUC-A 21.600,1,77,1.0200,22.0320,7.8823,750.0001,101.8060,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
1,,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,151 NUCPANT 500.00 1 1,749.9996,101.8060,1.000UN,0.0000,61,1250
2,102 NUC-B 21.600,1,77,1.0200,22.0320,7.8823,750.0001,101.8060,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
3,,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,151 NUCPANT 500.00 1 1,749.9996,101.8060,1.000UN,0.0000,61,1250
4,151 NUCPANT 500.00,1,1,1.0092,504.5785,2.2125,0.0000,0.0000,0.0000,0.0000,0.0000,611.0388,,0.0000,0.0000,,0.0000,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,3011 MINE_G 13.800,5,5,1.0400,14.3520,0.0000,607.9371,192.8049,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
82,,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3001 MINE 230.00 5 1,607.9371,192.8049,1.000UN,0.0000,49,1300
83,3018 CATDOG_G 13.800,5,5,0.9964,13.7509,-12.5253,100.0000,80.0000,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
84,,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3008 CATDOG 230.00 5 1,99.9981,79.9994,1.000UN,0.0000,85,150
85,,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [10]:
df = df.drop(index = (len(df) -1))

In [11]:
df

,Bus Name,Area Number,Zone Number,Volt (PU),Volt (KV),Angle (Deg),Gen MW,Gen MVAR,Load MW,Load MVAR,Shunt MW,Shunt MVAR,To Bus Name,MW,MVAR,Transformer Ratio,Transformer Angle (Deg),Percent,Rating
0,101 NUC-A 21.600,1,77,1.0200,22.0320,7.8823,750.0001,101.8060,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
1,,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,151 NUCPANT 500.00 1 1,749.9996,101.8060,1.000UN,0.0000,61,1250
2,102 NUC-B 21.600,1,77,1.0200,22.0320,7.8823,750.0001,101.8060,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
3,,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,151 NUCPANT 500.00 1 1,749.9996,101.8060,1.000UN,0.0000,61,1250
4,151 NUCPANT 500.00,1,1,1.0092,504.5785,2.2125,0.0000,0.0000,0.0000,0.0000,0.0000,611.0388,,0.0000,0.0000,,0.0000,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3018 CATDOG_G 13.800 5 1,-99.9634,-65.9601,1.000LK,0.0000,80,150
81,3011 MINE_G 13.800,5,5,1.0400,14.3520,0.0000,607.9371,192.8049,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
82,,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3001 MINE 230.00 5 1,607.9371,192.8049,1.000UN,0.0000,49,1300
83,3018 CATDOG_G 13.800,5,5,0.9964,13.7509,-12.5253,100.0000,80.0000,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
84,,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3008 CATDOG 230.00 5 1,99.9981,79.9994,1.000UN,0.0000,85,150

In [12]:
df['Bus Name'] = df['Bus Name'].replace(r'^\s*$', np.nan, regex=True).ffill()

In [13]:
# df.to_csv('lout_2.csv')

In [14]:
df

,Bus Name,Area Number,Zone Number,Volt (PU),Volt (KV),Angle (Deg),Gen MW,Gen MVAR,Load MW,Load MVAR,Shunt MW,Shunt MVAR,To Bus Name,MW,MVAR,Transformer Ratio,Transformer Angle (Deg),Percent,Rating
0,101 NUC-A 21.600,1,77,1.0200,22.0320,7.8823,750.0001,101.8060,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
1,101 NUC-A 21.600,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,151 NUCPANT 500.00 1 1,749.9996,101.8060,1.000UN,0.0000,61,1250
2,102 NUC-B 21.600,1,77,1.0200,22.0320,7.8823,750.0001,101.8060,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
3,102 NUC-B 21.600,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,151 NUCPANT 500.00 1 1,749.9996,101.8060,1.000UN,0.0000,61,1250
4,151 NUCPANT 500.00,1,1,1.0092,504.5785,2.2125,0.0000,0.0000,0.0000,0.0000,0.0000,611.0388,,0.0000,0.0000,,0.0000,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,3008 CATDOG 230.00,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3018 CATDOG_G 13.800 5 1,-99.9634,-65.9601,1.000LK,0.0000,80,150
81,3011 MINE_G 13.800,5,5,1.0400,14.3520,0.0000,607.9371,192.8049,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
82,3011 MINE_G 13.800,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3001 MINE 230.00 5 1,607.9371,192.8049,1.000UN,0.0000,49,1300
83,3018 CATDOG_G 13.800,5,5,0.9964,13.7509,-12.5253,100.0000,80.0000,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
84,3018 CATDOG_G 13.800,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3008 CATDOG 230.00 5 1,99.9981,79.9994,1.000UN,0.0000,85,150

In [16]:
data_updated = df

In [17]:
data_updated.columns

Index(['Bus Name', 'Area Number', 'Zone Number', 'Volt (PU)', 'Volt (KV)',
       'Angle (Deg)', 'Gen MW', 'Gen MVAR', 'Load MW', 'Load MVAR', 'Shunt MW',
       'Shunt MVAR', 'To Bus Name', 'MW', 'MVAR', 'Transformer Ratio',
       'Transformer Angle (Deg)', 'Percent', 'Rating'],
      dtype='object')

In [18]:
data_updated['Load Flow Case'] = 'Load-MW = 3533.1, Gen-MW = 3607.9, Reactors-Mvar = 600, Capacitors-Mvar = 950, Load-Mvar = 1950'

In [19]:
data_updated

,Bus Name,Area Number,Zone Number,Volt (PU),Volt (KV),Angle (Deg),Gen MW,Gen MVAR,Load MW,Load MVAR,Shunt MW,Shunt MVAR,To Bus Name,MW,MVAR,Transformer Ratio,Transformer Angle (Deg),Percent,Rating,Load Flow Case
0,101 NUC-A 21.600,1,77,1.0200,22.0320,7.8823,750.0001,101.8060,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,,"Load-MW = 3533.1, Gen-MW = 3607.9, Reactors-Mv..."
1,101 NUC-A 21.600,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,151 NUCPANT 500.00 1 1,749.9996,101.8060,1.000UN,0.0000,61,1250,"Load-MW = 3533.1, Gen-MW = 3607.9, Reactors-Mv..."
2,102 NUC-B 21.600,1,77,1.0200,22.0320,7.8823,750.0001,101.8060,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,,"Load-MW = 3533.1, Gen-MW = 3607.9, Reactors-Mv..."
3,102 NUC-B 21.600,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,151 NUCPANT 500.00 1 1,749.9996,101.8060,1.000UN,0.0000,61,1250,"Load-MW = 3533.1, Gen-MW = 3607.9, Reactors-Mv..."
4,151 NUCPANT 500.00,1,1,1.0092,504.5785,2.2125,0.0000,0.0000,0.0000,0.0000,0.0000,611.0388,,0.0000,0.0000,,0.0000,0,,"Load-MW = 3533.1, Gen-MW = 3607.9, Reactors-Mv..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,3008 CATDOG 230.00,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3018 CATDOG_G 13.800 5 1,-99.9634,-65.9601,1.000LK,0.0000,80,150,"Load-MW = 3533.1, Gen-MW = 3607.9, Reactors-Mv..."
81,3011 MINE_G 13.800,5,5,1.0400,14.3520,0.0000,607.9371,192.8049,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,,"Load-MW = 3533.1, Gen-MW = 3607.9, Reactors-Mv..."
82,3011 MINE_G 13.800,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3001 MINE 230.00 5 1,607.9371,192.8049,1.000UN,0.0000,49,1300,"Load-MW = 3533.1, Gen-MW = 3607.9, Reactors-Mv..."
83,3018 CATDOG_G 13.800,5,5,0.9964,13.7509,-12.5253,100.0000,80.0000,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,,"Load-MW = 3533.1, Gen-MW = 3607.9, Reactors-Mv..."
84,3018 CATDOG_G 13.800,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3008 CATDOG 230.00 5 1,99.9981,79.9994,1.000UN,0.0000,85,150,"Load-MW = 3533.1, Gen-MW = 3607.9, Reactors-Mv..."

In [20]:
data_updated.to_csv('case_6.csv')