##### Load Flow Analysis For 'Load-MW = 3264, Gen-MW = 3324.8, Reactors-Mvar = 600, Capacitors-Mvar = 950, Load-Mvar = 1950'

In [1]:
import pandas as pd
import numpy as np

In [2]:
f = open("new_2.csv", "r")
data_new = f.read()

In [3]:
header_string = data_new.split('\n')[0]

In [4]:
header = header_string.split(';')

In [5]:
info_string_list = data_new.split('\n')[1:]

In [6]:
info_list = []

In [7]:
for each_string in info_string_list:
    info_list.append(each_string.split(';'))

In [8]:
df = pd.DataFrame(info_list)
df.columns = header

In [9]:
df

,Bus Name,Area Number,Zone Number,Volt (PU),Volt (KV),Angle (Deg),Gen MW,Gen MVAR,Load MW,Load MVAR,Shunt MW,Shunt MVAR,To Bus Name,MW,MVAR,Transformer Ratio,Transformer Angle (Deg),Percent,Rating
0,101 NUC-A 21.600,1,77,1.0200,22.0320,14.9336,750.0000,84.1604,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
1,,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,151 NUCPANT 500.00 1 1,749.9996,84.1604,1.000UN,0.0000,60,1250
2,102 NUC-B 21.600,1,77,1.0200,22.0320,14.9336,750.0000,84.1604,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
3,,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,151 NUCPANT 500.00 1 1,749.9996,84.1604,1.000UN,0.0000,60,1250
4,151 NUCPANT 500.00,1,1,1.0115,505.7517,9.2740,0.0000,0.0000,0.0000,0.0000,0.0000,613.8835,,0.0000,0.0000,,0.0000,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,3011 MINE_G 13.800,5,5,1.0400,14.3520,0.0000,324.7779,113.8841,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
82,,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3001 MINE 230.00 5 1,324.7779,113.8841,1.000UN,0.0000,26,1300
83,3018 CATDOG_G 13.800,5,5,1.0183,14.0525,-5.6454,100.0000,80.0000,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
84,,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3008 CATDOG 230.00 5 1,99.9988,79.9996,1.000UN,0.0000,85,150
85,,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [10]:
df = df.drop(index = (len(df) -1))

In [11]:
df

,Bus Name,Area Number,Zone Number,Volt (PU),Volt (KV),Angle (Deg),Gen MW,Gen MVAR,Load MW,Load MVAR,Shunt MW,Shunt MVAR,To Bus Name,MW,MVAR,Transformer Ratio,Transformer Angle (Deg),Percent,Rating
0,101 NUC-A 21.600,1,77,1.0200,22.0320,14.9336,750.0000,84.1604,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
1,,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,151 NUCPANT 500.00 1 1,749.9996,84.1604,1.000UN,0.0000,60,1250
2,102 NUC-B 21.600,1,77,1.0200,22.0320,14.9336,750.0000,84.1604,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
3,,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,151 NUCPANT 500.00 1 1,749.9996,84.1604,1.000UN,0.0000,60,1250
4,151 NUCPANT 500.00,1,1,1.0115,505.7517,9.2740,0.0000,0.0000,0.0000,0.0000,0.0000,613.8835,,0.0000,0.0000,,0.0000,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3018 CATDOG_G 13.800 5 1,-99.9656,-66.5564,1.000LK,0.0000,80,150
81,3011 MINE_G 13.800,5,5,1.0400,14.3520,0.0000,324.7779,113.8841,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
82,,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3001 MINE 230.00 5 1,324.7779,113.8841,1.000UN,0.0000,26,1300
83,3018 CATDOG_G 13.800,5,5,1.0183,14.0525,-5.6454,100.0000,80.0000,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
84,,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3008 CATDOG 230.00 5 1,99.9988,79.9996,1.000UN,0.0000,85,150

In [12]:
df['Bus Name'] = df['Bus Name'].replace(r'^\s*$', np.nan, regex=True).ffill()

In [13]:
# df.to_csv('lout_2.csv')

In [14]:
df

,Bus Name,Area Number,Zone Number,Volt (PU),Volt (KV),Angle (Deg),Gen MW,Gen MVAR,Load MW,Load MVAR,Shunt MW,Shunt MVAR,To Bus Name,MW,MVAR,Transformer Ratio,Transformer Angle (Deg),Percent,Rating
0,101 NUC-A 21.600,1,77,1.0200,22.0320,14.9336,750.0000,84.1604,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
1,101 NUC-A 21.600,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,151 NUCPANT 500.00 1 1,749.9996,84.1604,1.000UN,0.0000,60,1250
2,102 NUC-B 21.600,1,77,1.0200,22.0320,14.9336,750.0000,84.1604,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
3,102 NUC-B 21.600,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,151 NUCPANT 500.00 1 1,749.9996,84.1604,1.000UN,0.0000,60,1250
4,151 NUCPANT 500.00,1,1,1.0115,505.7517,9.2740,0.0000,0.0000,0.0000,0.0000,0.0000,613.8835,,0.0000,0.0000,,0.0000,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,3008 CATDOG 230.00,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3018 CATDOG_G 13.800 5 1,-99.9656,-66.5564,1.000LK,0.0000,80,150
81,3011 MINE_G 13.800,5,5,1.0400,14.3520,0.0000,324.7779,113.8841,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
82,3011 MINE_G 13.800,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3001 MINE 230.00 5 1,324.7779,113.8841,1.000UN,0.0000,26,1300
83,3018 CATDOG_G 13.800,5,5,1.0183,14.0525,-5.6454,100.0000,80.0000,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,
84,3018 CATDOG_G 13.800,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3008 CATDOG 230.00 5 1,99.9988,79.9996,1.000UN,0.0000,85,150

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Bus Name                 85 non-null     object
 1   Area Number              85 non-null     object
 2   Zone Number              85 non-null     object
 3   Volt (PU)                85 non-null     object
 4   Volt (KV)                85 non-null     object
 5   Angle (Deg)              85 non-null     object
 6   Gen MW                   85 non-null     object
 7   Gen MVAR                 85 non-null     object
 8   Load MW                  85 non-null     object
 9   Load MVAR                85 non-null     object
 10  Shunt MW                 85 non-null     object
 11  Shunt MVAR               85 non-null     object
 12  To Bus Name              85 non-null     object
 13  MW                       85 non-null     object
 14  MVAR                     85 non-null     object
 15  Transformer Ratio        85 non-null     object
 16  Transformer Angle (Deg)  85 non-null     object
 17  Percent                  85 non-null     object
 18  Rating                   85 non-null     object
dtypes: object(19)
memory usage: 12.7+ KB

In [16]:
data_updated = df

In [17]:
data_updated.columns

Index(['Bus Name', 'Area Number', 'Zone Number', 'Volt (PU)', 'Volt (KV)',
       'Angle (Deg)', 'Gen MW', 'Gen MVAR', 'Load MW', 'Load MVAR', 'Shunt MW',
       'Shunt MVAR', 'To Bus Name', 'MW', 'MVAR', 'Transformer Ratio',
       'Transformer Angle (Deg)', 'Percent', 'Rating'],
      dtype='object')

In [18]:
data_updated['Load Flow Case'] = 'Load-MW = 3264, Gen-MW = 3324.8, Reactors-Mvar = 600, Capacitors-Mvar = 950, Load-Mvar = 1950'

In [19]:
data_updated

,Bus Name,Area Number,Zone Number,Volt (PU),Volt (KV),Angle (Deg),Gen MW,Gen MVAR,Load MW,Load MVAR,Shunt MW,Shunt MVAR,To Bus Name,MW,MVAR,Transformer Ratio,Transformer Angle (Deg),Percent,Rating,Load Flow Case
0,101 NUC-A 21.600,1,77,1.0200,22.0320,14.9336,750.0000,84.1604,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,,"Load-MW = 3264, Gen-MW = 3324.8, Reactors-Mvar..."
1,101 NUC-A 21.600,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,151 NUCPANT 500.00 1 1,749.9996,84.1604,1.000UN,0.0000,60,1250,"Load-MW = 3264, Gen-MW = 3324.8, Reactors-Mvar..."
2,102 NUC-B 21.600,1,77,1.0200,22.0320,14.9336,750.0000,84.1604,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,,"Load-MW = 3264, Gen-MW = 3324.8, Reactors-Mvar..."
3,102 NUC-B 21.600,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,151 NUCPANT 500.00 1 1,749.9996,84.1604,1.000UN,0.0000,60,1250,"Load-MW = 3264, Gen-MW = 3324.8, Reactors-Mvar..."
4,151 NUCPANT 500.00,1,1,1.0115,505.7517,9.2740,0.0000,0.0000,0.0000,0.0000,0.0000,613.8835,,0.0000,0.0000,,0.0000,0,,"Load-MW = 3264, Gen-MW = 3324.8, Reactors-Mvar..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,3008 CATDOG 230.00,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3018 CATDOG_G 13.800 5 1,-99.9656,-66.5564,1.000LK,0.0000,80,150,"Load-MW = 3264, Gen-MW = 3324.8, Reactors-Mvar..."
81,3011 MINE_G 13.800,5,5,1.0400,14.3520,0.0000,324.7779,113.8841,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,,"Load-MW = 3264, Gen-MW = 3324.8, Reactors-Mvar..."
82,3011 MINE_G 13.800,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3001 MINE 230.00 5 1,324.7779,113.8841,1.000UN,0.0000,26,1300,"Load-MW = 3264, Gen-MW = 3324.8, Reactors-Mvar..."
83,3018 CATDOG_G 13.800,5,5,1.0183,14.0525,-5.6454,100.0000,80.0000,0.0000,0.0000,0.0000,-0.0000,,0.0000,0.0000,,0.0000,0,,"Load-MW = 3264, Gen-MW = 3324.8, Reactors-Mvar..."
84,3018 CATDOG_G 13.800,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3008 CATDOG 230.00 5 1,99.9988,79.9996,1.000UN,0.0000,85,150,"Load-MW = 3264, Gen-MW = 3324.8, Reactors-Mvar..."

In [21]:
data_updated.to_csv('case_2.csv')